<option value={{@item.prefix}} id={{@item.code}} data-icon={{@item.icon}} data-country={{@item.country}}>
    <span class="icon">{{@item.icon}}</span>
    <span class="country">{{@item.country}}</span>            
    <span class="prefix">( {{@item.prefix}} )</span>
</option>