{{page-title "AuPhone"}}

<h1>Phone Input with Search, and Validation, Built as an AU Component</h1>

<br>

<blockquote>
    The dropdown takes its values from the options variable defined in the controller.<br>
    The validation takes place after the data is loaded, using the defined pattern, specific for each country.
</blockquote>

<br>
<form>
<AuFieldset
    class="au-phone-input"
    @alignment={{this.alignment}}
    as |f|
>

    <f.content>

        <Input id="in-phone" @type="hidden" @value={{this.selectedOption}} onchange={{get this.selectedItem}}/>

        {{!-- template-lint-disable require-input-label --}}
        <label for="au-phone-prefix">{{this.selectedItem.icon}}</label>
        <AuInput id="au-phone-prefix" name="au-phone-prefix" @type="text" @value={{this.selectedItem.prefix}} readonly />

        <AuInput id="au-number-input" name="au-number-input" @type="tel" 
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
            maxlength="11"
            placeholder="___-___-___"
            {{on 'keyup' this.validateFormat}} 
        />

        <details title="Click to Select Country!" id="country-list" >
            <summary></summary>
            {{!-- template-lint-disable no-nested-interactive --}}
            <label for="au-phone-search">🔍</label>
            <AuInput id="au-phone-search" @value={{this.query}} placeholder="Search For Your Country!"  />
            {{!-- template-lint-disable no-action --}}
            {{!-- template-lint-disable no-invalid-interactive --}}
            <datalist 
                role="search" class="results" 
                onclick={{action (mut this.selectedOption) value='target.value'}}
            >
                <optgroup {{on 'click' this.clearDetails}}>
                    <AuPhoneInput @options={{this.options}} @query={{this.query}} as |items|>
                        {{#each items as |item|}}
                            <Option @item={{item}} />
                        {{/each}}
                    </AuPhoneInput>
                </optgroup>
            </datalist>      
        </details>

    </f.content>

</AuFieldset>

</form>