{{page-title "AuPhone"}}
<h1>Phone Input with Search, and Validation, Built as an AU Component</h1>
<br>
<blockquote>
    The dropdown takes its values from the options variable defined in the controller.<br>
    The validation is made after loading the data, considering the defined pattern for each country.
</blockquote>

<br>
<AuFieldset
    class="au-phone-input"
    @alignment={{this.alignment}}
    as |f|
>

    <f.content>

        <Input id="in-phone" @type="hidden" @value={{this.selectedOption}} onchange={{get this.selectedItem}}/>

        {{!-- template-lint-disable require-input-label --}}
        <label for="au-phone-prefix" class="fake-placeholder">{{this.selectedItem.icon}}</label>
        <AuInput id="au-phone-prefix" @type="text" @value={{this.selectedItem.prefix}} placeholder="+32" disabled />

        <AuInput id="au-number-input" @type="tel" 
            pattern={{this.selectedItem.pattern}}
            placeholder="Insert Your Number!"
        />

        <details title="Click to Select Country!" id="country-list" >
            <summary></summary>
            {{!-- template-lint-disable no-nested-interactive --}}
            <label for="au-phone-search">🔍</label>
            <AuInput id="au-phone-search" @value={{this.query}} placeholder="Search For Your Country!"  />
            {{!-- template-lint-disable no-action --}}
            {{!-- template-lint-disable no-invalid-interactive --}}
            <datalist 
                role="search" class="results" 
                onclick={{action (mut this.selectedOption) value='target.value'}}                
            >
                <optgroup {{on 'click' this.clearDetails}}>
                    <AutocompleteInput @options={{this.options}} @query={{this.query}} as |items|>
                        {{#each items as |item|}}
                            <Option @item={{item}} />
                        {{/each}}
                    </AutocompleteInput>
                </optgroup>
            </datalist>      
        </details>

    </f.content>
</AuFieldset>