{{page-title "InputSearch"}}

<h1>Phone Input with Dropdown for Countries</h1>

<blockquote>
    The dropdown takes its values from the options variable defined in this.the controller.<br>
</blockquote>

<br>

<fieldset>

    <Input 
        id="phone"
        @type="tel" 
        @value={{this.selectedOption}}
    />

    <br>

    <Input @value={{this.query}} class="light" id="search" type="text" placeholder="Search Your Country!" />

    <br>

    <datalist class="results" onclick={{action (mut this.selectedOption) value='target.value'}}>
       <AutocompleteInput @options={{this.options}} @query={{this.query}} as |items|>
            {{#each items as |item|}}
                <Option @item={{item}} />
            {{/each}}
        </AutocompleteInput>
    </datalist>

</fieldset>