{{page-title "InputSearch"}}

<h1>Phone Input with Dropdown for Countries</h1>

<blockquote>
           
    The dropdown takes its values from the options variable defined in this.the controller.<br>
</blockquote>

<br>

<fieldset class="phone-input">

    <Input id="in-phone" @type="hidden" @value={{this.selectedOption}} onchange={{get this.selectedItem}}/>

    <details title="Click to Select Country!">
        <summary>    
        </summary>
        {{!-- template-lint-disable no-nested-interactive --}}
        <label for="search">🔍</label>
        <Input id="search" @value={{this.query}} placeholder="Search For Your Country!" />
        <datalist role="search" class="results" onclick={{action (mut this.selectedOption) value='target.value'}}>
            <AutocompleteInput @options={{this.options}} @query={{this.query}} as |items|>
                {{#each items as |item|}}
                    <Option @item={{item}} />
                {{/each}}
            </AutocompleteInput>
        </datalist>        
    </details>

    <Input @value={{this.selectedItem.icon}} placeholder="🇧🇪" />
    <Input @type="text" @value={{this.selectedItem.prefix}} placeholder="+32" />
    <Input @type="tel" placeholder={{this.selectedItem.pattern}} />

</fieldset>