{{page-title "InputSearch"}}

<h1>Phone Input with Dropdown for Countries</h1>

<blockquote>
           
    The dropdown takes its values from the options variable defined in the controller.<br>
</blockquote>

<br>

<fieldset class="phone-input">

    <Input id="in-phone" @type="hidden" @value={{this.selectedOption}} onchange={{get this.selectedItem}}/>

    <details title="Click to Select Country!" id="country-list">
        <summary>    
        </summary>
        {{!-- template-lint-disable no-nested-interactive --}}
        <label for="search">🔍</label>
        <AuInput @type="text" id="search" @value={{this.query}} placeholder="Search For Your Country!"  />
        {{!-- template-lint-disable no-action --}}
        {{!-- template-lint-disable no-invalid-interactive --}}
        <datalist 
            role="search" class="results" 
            onclick={{action (mut this.selectedOption) value='target.value'}}
            {{on 'click' this.clearDetails}}
        >
            <AutocompleteInput @options={{this.options}} @query={{this.query}} as |items|>
                {{#each items as |item|}}
                    <Option @item={{item}} />
                {{/each}}
            </AutocompleteInput>
        </datalist>        
    </details>

    {{!-- template-lint-disable require-input-label --}}
    <AuInput @value={{this.selectedItem.icon}} placeholder="🇧🇪" />
    <AuInput @type="text" @value={{this.selectedItem.prefix}} placeholder="+32" />
    <AuInput @type="tel" placeholder={{this.selectedItem.pattern}} />

</fieldset>